/* for small devices  */
@media screen and (max-width:576px) {

    /* header section starts here  */
    header .hero-area {
        flex-direction: column;
    }

    header .heading h1 {
        text-indent: 13px;
        font-size: 2.5rem;

    }

    .hero-image {
        max-width: 80%;
        transform: translateY(-40px);

    }

    /* mission section starts here  */
    .mission-container {
        grid-template-columns: repeat(1, 1fr);
    }

}

/* for medium devices  */
@media screen and (min-width:576px) and (max-width:940px) {

    /* header section starts here  */
    header .hero-area {
        flex-direction: column;
    }

    .hero-area .hero-text {
        align-self: start;
    }

    header .heading h1 {
        text-indent: 13px;
        font-size: 3.75rem;

    }

    .hero-image {
        max-width: 60%;
        transform: translateY(-70px);

    }

    /* mission section starts here  */
    .mission-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .mission-container .goal {
        justify-self: center;
        grid-column: span 2;
        margin: 0 25%;
    }
}